<ion-content>
  <img src="../../assets/imgFestinha.png" alt="">
  
  <h1>Festinha</h1>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="limpar()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="conteudo">
    <div class="linha">
      <div class="produto">Adulto</div>
      <div class="mostrador">
        <ion-button (click)="removerAdulto1()">-</ion-button>
        <input type="number" [(ngModel)]="quantidadeAdulto1" (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarAdulto1()">+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Criança</div>
      <div class="mostrador">
        <ion-button (click)="removerCrianca1()">-</ion-button>
        <input type="number" [(ngModel)]="quantidadeCrianca1" (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarCrianca1()">+</ion-button>
      </div>
    </div>

    <div class="linha resultado">
      <div>Total salgadinho</div>
      <div>{{ totalSalgadinho }} un</div>
    </div>

    <div class="linha resultado">
      <div>Total refrigerante</div>
      <div>{{ totalRefrigerante }} {{siglaRefri}}</div>
    </div>

    <div class="linha resultado">
      <div>Total bolo</div>
     <div>{{ totalBolo }} {{siglaBolo}}</div>
    </div>

  </div>
</ion-content>
